{% extends 'timing/base.html' %}
{% load static %}

{% block heading %}
    <h2>Add new exercise to {{workout.name}}</h2>
{% endblock %}

{% block content %}
    <form action="{% url 'timing:new_exercise' workout.id %}" method='post'>
        {% csrf_token %}
        {% for field in form %}
        {% if field.label == Kind %}
        <p>{{field.label}}: {{field}}</p>
        {% else %}
        <p>{{field.label}}: {{field}}</p>
        {% endif %}
        {% endfor %}
        <button name="submit">add exercise</button>
    </form>
{% endblock %}

{% block scripts %}
    <script src="{% static 'timing/js/test_kind.js' %}"></script>
{% endblock scripts %}