{% extends 'timing/base.html' %}

{% block styles %}
  <style>
    .centered-upt{
      margin-top: 10%;
      margin-bottom: 3%;
      margin-left: auto;
      margin-right: auto;
    }
  </style>
{% endblock styles %}

{% block heading %}
    <h2 class="text-center">Update {{object.name}}</h2>
{% endblock %}

{% block content %}
    <form action="{% url 'timing:workout_update' object.id %}" method='post' class="centered-upt text-center">
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit" class="btn btn-success">Save changes to this workout</button>
    </form>
{% endblock %}