{% extends 'timing/base.html' %}

{% block styles %}
  <style>
    .centered-upt{
      margin-top: 10%;
      margin-bottom: 3%;
      margin-left: auto;
      margin-right: auto;
    }
    .control-extra{
      width: 30%;
      margin-left: auto;
      margin-right: auto;
    }
  </style>
{% endblock styles %}

{% block heading %}
    <h2 class="text-center">Update {{object.name}}</h2>
{% endblock %}

{% block content %}
    <form action="{% url 'timing:workout_update' object.id %}" method='post' class="centered-upt text-center">
        {% csrf_token %}
        {% for field in form %}
          {% for x in field %}
          <p>{{field.label}}: <input name="{{x.data.name}}" {% if x.data.value %}value="{{x.data.value}}"{% endif %} placeholder="{{field.label}}" class="form-control control-extra"
                          type="{{x.data.type}}" {% for attr, val in x.data.attrs.items %} {{attr}}{% if val is not False %}="{{val}}"{% endif %} {% endfor %}></p>
          {% endfor %}
        {% endfor %}
        <button name="submit" class="btn btn-success">Save changes to this workout</button>
    </form>
{% endblock %}