{% extends 'timing/base.html' %}
{% load static %}

{% block styles %}
    <style>
        .centered-block {
            margin-top: 2%;
            margin-bottom: 3%;
            margin-left: auto;
            margin-right: auto;
            width: 38%
        }
        .draggable-checkbox {
            position: absolute;
            right:1px;
            top:25%
        }
        .higher {
            font-family: Playfair Display;
            font-size: 1.25rem;
        }
        a {
            color:#343434;
        }
    </style>
<!--    <link rel="stylesheet" type="text/css" href="{% static 'timing/css/draggy.css' %}">-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
{% endblock styles %}

{% block heading %}
    <button type="button" id="MobileNavActivator" class="Hamburger" aria-controls="Sidebar" aria-expanded="true" style="visibility:hidden"><div class="HamburgerBun"><div class="HamburgerPatty"></div></div></button>
    <h2 class="text-center">Exercise list at "{{ workout.name }}"</h2>
    <p></p>

    <div class="card marginer">
        <div class="row">
        <div class="col-6 text-center higher">Warmup time: {{ workout.warmup_time }}</div>
        <div class="col-6 text-center higher">Cooldown time: {{ workout.cooldown_time }}</div>
        </div>
    </div>
    <div class="centered-block">
    <a href="{% url 'timing:new_exercise' workout.id %}" class="btn btn-secondary">Add another exercise</a>
    <a href="{% url 'timing:workout_update' workout.id %}" class="btn btn-secondary" style="margin-left:5px; margin-right:5px">Update</a>
    <a href="{% url 'timing:del_workout' workout.id %}" class="btn btn-secondary" style="vertical-align:middle">Delete this</a></div>
{% endblock heading %}

{% block content %}
    <section id="SimpleList" class="SimpleList">
        <form method="post" action="{% url 'timing:del-test' %}">
        <article class="StackedListWrapper">
            <header class="StackedListHeader" style="margin-top: 50px; margin-bottom: 30px; color:#1F334E"><h3 class="text-center Heading Heading--size3 Heading--colorWhite">{{ workout.name }}</h3></header>
            <div class="StackedList" tabindex="0">
                <input type="hidden" name="wrk_id" value="{{ workout.id }}">
                {% for exr in exercises %}
                <div class="StackedListItem StackedListItem--isDraggable StackedListItem--item1" tabindex="1">
                    <div class="StackedListContent card" id="elem_{{exr.id}}">
                        <h4 class="Heading Heading--size4 text-no-select text-center"><a href="{% url 'timing:exr_detail' workout.id exr.id %}">{{exr.name}}</a></h4>
<!--                                <div class="DragHandle"></div>-->
<!--                        <div class="card" style="width:10px; height:10px">-->
<!--                        </div>-->
                        <input type="checkbox" name="posting_box"  id="cbox_{{exr.id}}" class="draggable-checkbox" value="{{exr.id}}">
                        <div class="Pattern Pattern--typeHalftone"></div>
                        <div class="Pattern Pattern--typePlaced"></div>
                    </div>
                </div>
                {% empty %}
                    <div class="StackedListItem StackedListItem--isDraggable StackedListItem--item1" tabindex="1">
                    <div class="StackedListContent card">
                        <h4 class="Heading Heading--size4 text-no-select text-center">Nothing here yet</h4>
                    <div class="Pattern Pattern--typeHalftone"></div>
                    <div class="Pattern Pattern--typePlaced"></div>
                {% endfor %}
            </div>
        </article>
        {% csrf_token %}
            <div class="centered-block">
                <button class="btn btn-warning" id="submiting_btn">Submit data</button>
                <button type="submit" class="btn btn-danger" style="margin-left:5px; margin-right:5px">Delete chosen</button>
                <a class="btn btn-info align-right" href="{% url 'timing:play_timer' workout.id %}">Start exercise</a>
            </div>
        </form>

        <div id="results"></div>
    </section>
    <p></p>
    <p><a href="{% url 'timing:show_workouts' %}" class="btn btn-secondary"><-- Back to full workout list</a></p>
{% endblock content %}


{% block scripts %}
    <script src="{% static 'timing/js/dragger1.js' %}"></script>
    <script src="{% static 'timing/js/dragger2.js' %}"></script>
    <script src="{% static 'timing/js/dragger3.js' %}"></script>
    <script src="{% static 'timing/js/index.js' %}"></script>
    <script>
        var csrftoken = "{{ csrf_token }}";
    </script>
{% endblock scripts %}